.header {

    margin-left:auto;
    background-color:navy;
    color:white;
    border-bottom: solid rgb(143, 0, 0) 8px;;
}

.headerText{
    display: flex;
    justify-content: space-around;
    letter-spacing: 4px;
    font-size: 3em;
}